<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Orders</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleMain.css}"/>
</head>
<body>
<header>
  <nav>
    <a th:href="@{'/' + ${userId} + '/Main'}" class="header-link">Home</a>
    <a href="/logout" class="header-link">Logout</a>
    <a href="/cart" class="header-link">Cart</a>
    <a th:href="@{'/' + ${userId} + '/profile'}" class="header-link">Profile</a>
    <a href="/logout" class="header-link">Logout</a>
  </nav>
</header>
<div class="container">
  <h1>My Orders</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Status</th>
      <th>Products</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}">Order ID</td>
      <td th:text="${order.createDate}">Date</td>
      <td th:text="${order.orderStatus.name}">Status</td>
      <td>
        <ul>
          <li th:each="orderPhone : ${order.orderPhones}" th:text="${orderPhone.phone.name}">Product</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>